<div id="about">
    <div class="about-title">
        <h1>ABOUT US</h1>
        <p>
            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit<br>
            amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
        </p>
        <div class="line"></div>
    </div>
    <div class="tabs">
        <ul>
            <li><a href="#tab1" class="active">MISSION</a></li>
            <li><a href="#tab2">VISION</a></li>
            <li><a href="#tab3">SPONSORS</a></li>
        </ul>
    </div>
    <div class="tab1">
        <div class="image-overlap">
            <img class="image1" src="../../assets/img/about-img2.jpg"/>
            <img class="image2" src="../../assets/img/about-img1.jpg"/>
        </div>
        <div class="about-content">
            <h1>SED AC URNA SIT AMET LOREM</h1>
            <h5>TACITI SOCIOSQU AD LITORA TORQUENT PER CONUBIA</h5>
            <p>
                November is free HTML CSS website template from templatemo and you can download<br>
                and use it for any purpose. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam<br>
                elit nunc, porta commodo euismod eu, fermentum a neque. Fusce scelerisque tincidunt<br>
                auctor. Integer varius ullamcorper interdum.<br><br>
                Phasellus pretium elementum rhoncus. Aenean sit amet odio eu ante volutpat rutrum.<br>
                Vestibulum ullamcorper faucibus orci, in blandit massa fringilla at. Nulla in fermentum<br>
                eros. Suspendisse vitae aliquam metus.
            </p>
        </div>
    </div>
</div>

