<div id="contact">
    <div class="contact-title">
        <h1>CONTACT US</h1>
        <p>
            Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum<br>
            feugiat velit mauris egestas quamut aliquam massa nisl quis neque. Suspendisse in orci enim.
        </p>
        <div class="line"></div>
    </div>
</div>
<div class="Map">     
    <div id="GoogleMap">
        <img src="../../assets/img/map.jpg">
    </div>
</div>
<div class="contact-form">
    <form action="#">
        <input type="text" placeholder="NAME">
        <input type="text" placeholder="EMAIL">
        <input type="text" placeholder="TITLE">
        <textarea placeholder="MESSGAE"></textarea>
        <input type="submit" value="SEND" class="submit-btn">
    </form>
    <div class="get-in-touch">
        <h1>GET IN TOUCH !</h1>
        <p class="address">
            990 Proin Gravida Street, Aliquet Snean Tate,<br>
            Lincoln Way, San Francisco, California.
        </p>
        <p class="contact">
            (+001) 001 002 0034, (+002) 009 008 076)<br>
            (+003) 456 050 0670
        </p>
        <p class="mail-icon">info@november.com</p>
        <a href="#"><img src="../../assets/img/facebook-icn.png">
        <img src="../../assets/img/twitter-icn.png">
        <img src="../../assets/img/google-plus-icn.png"></a>
    </div>
</div>
