<div id="service">
    
    <!--Service Title-->
    <div class="service-title">
        <h1>OUR SERVICES</h1>
        <p>
            Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent<br>
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>
        <div class="line"></div>
    </div>
    <!--Service Title End-->
    
    <!--Service content-->
    <div class="service-content">
       <ul>
           <li class="development">
               <a href="#">
                   <img src="../../assets/img/Development-cn.png">
                   <h4>DEVELOPMENT</h4>
                </a>
            </li>

            <li class="design">
                <a href="#">
                    <img src="../../assets/img/desgin-icn.png">
                    <h4>DESIGN</h4>
                </a>
            </li>
           <li class="concept">
               <a href="#">
                    <img src="../../assets/img/concept-icn.png">
                    <h4>CONCEPT</h4>
               </a>
            </li>
           <li class="system">
               <a href="#">
                <img src="../../assets/img/systam-icn.png">
                <h4>SYSTEM</h4> 
               </a>
            </li>
       </ul>
    </div>
    <!--Service content End-->
</div>