<header>
    <div class="banner">
        <div class="main-menu">
            <div class="logo">
                <h1><a href="#">NO<span>VEM</span>BER</a></h1>
            </div>
            <div class="nav-menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
            <div class="main-content">
                <h2>RESPONSIVE</h2>
                <h1>MOBILE FRIENDLY</h1>
                <p>
                    November is a professional website<br>
                    template that is responsive and mobile<br>
                    friendly for any device. This template is<br>
                    provided by templatemo.com
                </p>
            </div>
    </div>
</header>
<div class="row">
            
</div>